* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url(../images/81q77Q39nEL._AC_UF1000\,1000_QL80_Harryp.jpg);
}
















