* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url(../images/montagne.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.bar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.bar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.bar a:hover::before {
    width: 100%;
}

main {
    padding: 2rem;
}

form {
    margin-bottom: 2rem;
    color: black;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 4px;
}

form button {
    padding: 0.5rem 1rem;
    background: black; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.resultats-container {
    border-top: 2px solid white; 
    padding-top: 2rem;
    margin-top: 2rem;
}

.resultats-container h2 {
    color: black; /* Green text */
    margin-bottom: 1rem;
}

.resultats-container div {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid black; /* Green border */
    border-radius: 5px;
    background-color: #e8f5e9; /* Light green background */
}

.resultats-container span {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: black; /* Green text */
}

main {
    padding: 2rem;
    margin-top: 100px; /* ou la valeur qui vous convient pour décaler le contenu vers le bas */
}



